.ui-icon-myapp-email {
	background-image: url("app-icon-email.png");
}

.herald-page .herald-header {
	background: #fff;
    /*height: 80px;*/
	border-top: 3px solid #456f9a;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.herald-page .herald-content > form {
    text-align: center;
}

.copyright {
    margin-top: 35px;
    font-size: 10px;
    color: grey;
    text-align: center;
}

.copyright a {
    text-decoration: none;
}

.center {
    text-align: center;
}

#tyx-login  a {
    text-align: center;
}

#exercise-info h2 {
    margin-top: 40px;
    font-size: 18px;
    color: #456f9a;
}

#exercise-info p {
    color: grey;
}

#exercise-times {
    font-size: 64px;
    color: black;
}

#exercise-remain {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    color: black;
}